# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
lib/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# MyPy, Pylint, Pyright
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pyright/

# VSCode settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Spyder project settings
.spyderproject
.spyproject

# PyCharm
.idea/

# Slicer-specific (if applicable)
*.mrml
*.mrml.scene
*.fcsv
*.mrb
GeometricTestCase/displacement_field_compression.nrrd
GeometricTestCase/SphereData/displacement_field_compression.h5
 BrainShiftModule/lib/python3.12/site-packages/*
BrainShiftModule/
sphere_mesh.html
BrainShiftModule/
sphere_mesh.html
Slicer_*.log
